body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  opacity: 0.6;
}

.legend br {
  clear: both;
}

.legend h3 {
  text-align: center;
  margin: 4px 14px 10px;
  color: #504d4d;
}
